*{box-sizing:border-box;}
h1,  h2,  h3{font-weight: 400;}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    background-color: $ttn-background-color;
    color:$ttn-opposite-background-color;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}
.container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}
.sidebar {
    flex: 1 1 246px;
    

    background-color: rgba($ttn-opposite-background-color, .1);
  }
.cont {
    flex: 6 1 500px;
    overflow-y: visible;
    padding: 0px;
    background-color: rgba($ttn-opposite-background-color, .01);
    
  }
 
  section {
    border: solid 1px $ttn-greyLight;
    border-left:none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: $ttn-background-color;
    padding: 0 10px 10px;
  }
  
  @media (min-width: 600px) {
    .cont {
      padding: 40px;
      
    }
    section {
      border: solid 1px $ttn-greyLight;
      border-radius: 4px;
      padding: 0 20px 20px;
    }
    
  }
  .btn-recipient {display: flex; flex-wrap: wrap;}
  
  .btn-mark {
    border: solid 1px #ccc;
    padding: 10px;
    clear: both;
    width: 400px;
    margin: auto;
  }
.btn-recipient .ttn-btn{margin-right: 10px; margin-bottom: 15px;}
.popover-recipient {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.popover-recipient > .ttn-pop-container{margin-bottom: 10px;}

.background-nature{
  color:#fff;
  background-image: url('../../public/assets/bg-nature.jpg') ;
}

