
.menu-marker{
    position:relative;
    width: 335px;
margin: auto;
border: solid 1px $ttn-greyLight;

padding: 20px 0px;
border-radius: 20px;}
ul.navbar-marker {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    border-top: 1px solid #ccc;
padding-top: 20px;
}
.menu-marker button {
    border: none;
    background: transparent;
    padding: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: .4;

    -webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;


  }
  
  .menu-marker button.active {

    opacity: 1;
  }
  
.marker{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 100%;
    position: absolute;
    bottom:20px;
    
    z-index: 0;

    animation-name: parabola;

    -webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

@keyframes parabola {
  to {
    bottom:18px
  }

  50% {
    bottom:-20px
  }

  from {
    bottom:18px
  }
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 1s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: $ttn-greyMedium;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-direction: column;
}

.carousel-item b{
  color:#ff0;
  font-weight: normal;
}

.carousel-item-img img {
  width: 100px;
  height: 100px;
  opacity: 0.07;
}
ul.navbar-marker .carousel-item-img img {
  width: 25px;
  height: 25px;
  opacity: 1;
}

ul.navbar-marker .carousel-item-title {
  display: none;
}

nav.nav-css{
  position: relative;
  margin: 40px auto;
  border: 2px solid #34495e;
  width: 594px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  text-transform: uppercase;
  background-size: cover;
  

  button{
    border: none;
    background: none;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    z-index: 1;
    text-align: center;
    line-height: 46px;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    letter-spacing: 2px;
  }

  .animation{
    position: absolute;
    height: 100%;
    top: 0;
    background-color: #1abc9c;
    border-radius: 6px;
    transition: all .5s ease 0s;
    z-index: 0;
  }
  .animation.animation2{
    background-color: rgba(255,255,255,.09);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    top:24px;
    height: calc(100% - 48px);

  }
}
nav.nav-css.nav-css2{
  border:none;
padding: 4px;
width:602px;
height: 100px;

button{
  line-height: 92px;
}}

nav.nav-css button:nth-child(1){
  width: 100px;
}
nav.nav-css .start-home, button:nth-child(1):hover~.animation{
  width: 100px;
  left: 0px;
}
nav.nav-css2 .start-home, button:nth-child(1):hover~.animation{
  left: 4px;
}
nav.nav-css button:nth-child(2){
  width: 110px;
}
nav.nav-css button:nth-child(2):hover~.animation{
  width: 110px;
  left: 100px;
}
nav.nav-css button:nth-child(3){
  width: 100px;
}
nav.nav-css button:nth-child(3):hover~.animation{
  width: 100px;
  left: 210px;
}
nav.nav-css button:nth-child(4){
  width: 160px;
}
nav.nav-css button:nth-child(4):hover{
  color:#34495e
}
nav.nav-css.nav-css2 button:nth-child(4):hover{
  color:#fff
}
nav.nav-css button:nth-child(4):hover~.animation{
  width: 160px;
  left: 310px;
  background-color: #fff;
}
nav.nav-css.nav-css2 button:nth-child(4):hover~.animation{
   background-color: rgba(255,255,255,.05);
}
nav.nav-css button:nth-child(5){
  width: 120px;
}
nav.nav-css button:nth-child(5):hover~.animation{
  width: 120px;
  left: 470px;
}
nav.nav-css2 button:nth-child(5):hover~.animation{
  width: 128px;
  left: 470px;
}