$ttn-background-color:#fff;
$ttn-opposite-background-color:#333;

$ttn-primary:#1890ff;


$ttn-greyLight:#d9d9d9;
$ttn-greyMedium:#818181;
$ttn-greyDark:#333;

$ttn-danger:#ff4d4f;
$ttn-success:#4dd13a;

$path--rel: '../../public/assets/img/';
